:root{
    --primary-background-color: #fff;
    --primary-background-photo: url('../images/egypt2.jpg');
    --secondary-background-color: #f1f1f1;
    --font-size-small: 14px;
    --font-size-md: 24px;
    --gap: 2rem;
    --font-size-lg: 45px;
    --light-color: #fff;
    --dark-color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary-background-photo);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-item-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.header {
    background-color: var(--secondary-background-color);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.logo-items{
    left: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1.5rem;
}

.logo {
    font-size: var(--font-size-md);
    color: var(--dark-color);
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);

}

.menu>.list {
    flex-direction: row;
}
.section {
    margin: 6rem 0;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 75%;
    backdrop-filter: blur(10px);
}
td{
    height: 2rem;
    color: var(--dark-color);
    font-weight: 200;
}
.table-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.form-container{
    margin-top: 6rem;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}
.title{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.description{
    width: 40%;
    margin-right: 10%;
    font-weight: 300;
    font-size: 3rem;
    text-align: justify;
}
.description button{
    margin-top: 2rem;
    font-size: 2rem;
    background-color: #d9004d;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid #d9004d;
    transition: transform .4s;
}
.form{
    font-size: 16px;
    width: 30rem;
    text-align: start;
    backdrop-filter: blur(20px);
    padding: 2rem 2rem 2rem 3rem;
}
.form input{
    margin: 1rem .3rem;
    background-color: transparent;
}
#phone,#email,#country,#name,#destiny,#day,#month,#year{
    width: 23rem;
    height: 2rem;
    outline: none;
    border: 2px solid black;
}
#country{
    margin-left: 1rem;
    width: 10rem;
    background-color: transparent;
}
#day,#month,#year{
    width: 5rem;
}
.dates{
    display: flex;
    flex-wrap: wrap;
}
.date{
    width: 30%;
    margin: 0 1.5%;
}
.buttons{
    justify-content: space-between;
    display: flex;
}
.btn{
    background-color: #d9004d;
    border: 2px solid #d9004d;
    font-size: 1.2rem;
    padding: .5rem;
}
.submit-form-btn{
    margin-right: 1.5rem;
}
.description button:hover{
    transform: scale(1.2);
}
button:hover{
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .description{
        width: 100%;
        font-size: 24px;
    }
    .title{
        font-size: 18px;
    }
    table{
        width: 100%;
        font-size: 14px;
    }
    .form{
        font-size: 14px;
    }
    .description button{
        font-size: 18px;
        margin-bottom: 2rem;
    }
}